---
import { CutCornerButton2 } from '../components/CutCornerButton2'
import Input from '../components/input.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Textarea from '../components/textarea.astro'
---

<DefaultLayout>
	<div class="mx-auto mt-10 max-w-md pb-[1000px]">
		<h2 class="font-heading text-3xl font-black">Womit kann ich dir helfen??</h2>
		<form class="mt-8 flex flex-col" name="contact" method="post" data-netlify="true">
			<label for="name">Name</label>
			<Input type="text" name="name" id="name" />
			<label for="email" class="mt-4">E-Mail </label>
			<Input type="email" name="email" id="email" />
			<label for="message" class="mt-4">Nachricht</label>
			<Textarea name="message" id="message" />
			<CutCornerButton2 className="mt-4 text-fuchsia-400">Nachricht senden</CutCornerButton2>
		</form>
	</div>
</DefaultLayout>
