<section id="features">
	<!-- Flex container -->
	<div class="container mx-auto mt-10 flex flex-col space-y-12 px-4 md:flex-row md:space-y-0">
		<!-- What's Different -->
		<div class="flex flex-col space-y-12 md:w-1/2">
			<h2 class="max-w-md text-center text-4xl font-bold md:text-left">
				What's different about Manage?
			</h2>
			<p class="text-darkGrayishBlue max-w-sm text-center md:text-left">
				Manage provides all the functionality your team needs, without the complexity. Our software
				is tailor-made for modern digital product teams.
			</p>
		</div>

		<!-- Numbered List -->
		<div class="flex flex-col space-y-8 md:w-1/2">
			<!-- List Item 1 -->
			<div class="flex flex-col space-y-3 md:flex-row md:space-x-6 md:space-y-0">
				<!-- Heading -->
				<div class="bg-brightRedSupLight rounded-l-full md:bg-transparent">
					<div class="flex items-center space-x-2">
						<div class="bg-brightRed rounded-full px-4 py-2 text-white md:py-1">01</div>
						<h3 class="text-base font-bold md:mb-4 md:hidden">Track company-wide progress</h3>
					</div>
				</div>

				<div>
					<h3 class="mb-4 hidden text-lg font-bold md:block">Track company-wide progress</h3>
					<p class="text-darkGrayishBlue">
						See how your day-to-day tasks fit into the wider vision. Go from tracking progress at
						the milestone level all the way down to the smallest of details. Never lose sight of the
						bigger picture again.
					</p>
				</div>
			</div>

			<!-- List Item 2 -->
			<div class="flex flex-col space-y-3 md:flex-row md:space-x-6 md:space-y-0">
				<!-- Heading -->
				<div class="bg-brightRedSupLight rounded-l-full md:bg-transparent">
					<div class="flex items-center space-x-2">
						<div class="bg-brightRed rounded-full px-4 py-2 text-white md:py-1">02</div>
						<h3 class="text-base font-bold md:mb-4 md:hidden">Advanced built-in reports</h3>
					</div>
				</div>

				<div>
					<h3 class="mb-4 hidden text-lg font-bold md:block">Advanced built-in reports</h3>
					<p class="text-darkGrayishBlue">
						Set internal delivery estimates and track progress toward company goals. Our
						customisable dashboard helps you build out the reports you need to keep key stakeholders
						informed.
					</p>
				</div>
			</div>

			<!-- List Item 3 -->
			<div class="flex flex-col space-y-3 md:flex-row md:space-x-6 md:space-y-0">
				<!-- Heading -->
				<div class="bg-brightRedSupLight rounded-l-full md:bg-transparent">
					<div class="flex items-center space-x-2">
						<div class="bg-brightRed rounded-full px-4 py-2 text-white md:py-1">03</div>
						<h3 class="text-base font-bold md:mb-4 md:hidden">Everything you need in one place</h3>
					</div>
				</div>

				<div>
					<h3 class="mb-4 hidden text-lg font-bold md:block">Everything you need in one place</h3>
					<p class="text-darkGrayishBlue">
						Stop jumping from one service to another to communicate, store files, track tasks and
						share documents. Manage offers an all-in-one team productivity solution.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
