---
import { CutCornerButton } from '../components/CutCornerButton'
---

<section id="hero">
	<div
		class="container mx-auto mt-10 flex flex-col-reverse items-center space-y-0 p-6 md:flex-row md:space-y-0"
	>
		<div class="felx mb-32 flex-col space-y-12 md:w-1/2">
			<h1 class="max-w-md text-center text-4xl font-bold md:text-left md:text-5xl">
				Bring everyone together to build better products
			</h1>
			<p class="text-darkGrayishBlue max-w-sm text-center md:text-left">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab excepturi non similique in
				deleniti iste consequuntur consectetur laborum nostrum unde.
			</p>
			<div class="flex justify-center md:justify-start">
				<CutCornerButton className="bg-brightRed hover:bg-brightRedLight text-white"
					>get started</CutCornerButton
				>
			</div>
		</div>
		<div class="md:w-1/2">
			<img src="illustration-intro.svg" alt="illo" />
		</div>
	</div>
</section>
